.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  float: left;
}

.flex-start {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.legend { list-style: none; }
.legend li { float: left; margin-right: 20px; }
.legend span { border: 1px solid #ccc; float: left; width: 15px; height: 15px; margin-right: 6px; }
/* your colors */
.legend .player0 { background-color: #ff0000; }
.legend .player1 { background-color: #0000ff; }

.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #ff371c;
    border: solid 2px #ff371c;
    border-radius: 3px;
    transition: .4s;
}

.square_btn:hover {
    background: #ff371c;
    color: #0f0802;
}

.animated {
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  animation-name: fadeIn;
}